.authForm{
    width:400px;
    padding:40px;
    margin-top:2em;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#191919;
    text-align: center;
    border:0.3em solid #3498db;
    border-radius: 3em;
    }
    
    .authForm h2{
        color:white;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .authForm input[type="username"], .authForm input[type="password"]{
        border:0;
        background:none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border:2px solid #3498db;
        padding:14px 10px;
        width:200px;
        outline:none;
        color:white;
        border-radius: 24px;
        transition: 0.25s;
    }
    
    .authForm input[type="username"]:hover, .authForm input[type="password"]:hover{
        width:280px;
        border:2px solid #2ecc71;
    
    }
    .submitBtn{
        border:0;
        background:none;
        display: block;
        margin:20px auto;
        text-align: center;
       text-transform: uppercase;
        border:2px solid #2ecc71;
        padding:10px 30px;
        outline: none;
        color:white;
        border-radius: 23px;
        transition: 0.25s;
    }

    .submitBtn:hover{
        background:#2ecc71;
    }