
.cool-link-auth{
     display:flex;
}
body{
     margin:0;
     padding:0;
     box-sizing: border-box;
     background-image:url("/photo-of-person-driving-769892.jpg") !important;
    background-repeat: no-repeat;
    background-size:cover;

}
.container{
     margin-left:3em;
}
nav{
 width: 100%; 
 height:4rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
 background:#fff;
 
}

li{
 display: inline-block;
 text-decoration: none;
 font-family: 'Solway', serif;
 font-weight: bold;
 font-size: 2rem;
 padding: 0 15px;
 padding-top:0.5em;
 color:black;
}


.cool-link::after{
 content: "";
 display:block;
 width: 0;
 height: 5px;
 background:black;
 transition: width .3s;
 transform:translateX(-50%) translateY(-50%);
 margin-left:1.5em;
 left:50%;
 right:50%;

}

.cool-link:hover::after{
 width: 100%;
 transition: width .3s;
 transform:translateX(-50%) translateY(-50%);
}

li:hover, .active li{
color:#D81921;
}

.logo img {
     text-decoration:none;
     padding-left:1em;
     height:3em;
     width:7em;
}

