.mercedes {
    top:46%;
    width:80%;
    height:80%;
    box-shadow:0 5px 50px rgba(0,0,0,.5);
    opacity:0.89;
    border-radius: 0.5em;
    border-style:none;
    background-color:white;
}

.mercedes h2{
    color: black;
    font-weight:700;
    font-style:italic;
    font-size:2.5em;
    margin-top:-0.5em;

}

.mercedesImg{
    box-shadow:0 5px 15px black;
    margin-top:0.8em;
}

.mercedes p{
    margin-top:2em;
    text-align: center;
    font-style:italic;
    justify-content: center;
    align-items: center;
    font-size:22px;
}

 .bookingsButton{
    width:12em;
    background-color: #3498db;
    border-color: black;
    border:0;
}

.bookingsButton:hover{
    border:2px solid #3498db;
    background-color: rgb(236, 19, 19);
    color:white;
   border:0;
}
